<h1>Carrito de Compras</h1>
<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>ID</th>
      <th>Cantidad</th>
    </tr>
  </thead>
  <tbody>
    {{#each cart.products}}
      <tr>
        <td>{{this.id_prod.title}}</td>
        <td>{{this.id_prod._id}}</td>
        <td>{{this.quantity}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>